// Define variables for your color scheme

// For example:
$red: #E30715;
$blue: #45354D;
$lightblue: #346087;
$diffblue: #1F3F5C;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #02B57A;
$gray: #EFEFEF;
$light-gray: #FFFFFF;
