// Specific CSS for your home-page

.hero-banner {
  position: relative;
  height: 350px;
  text-align: center;
  background-image: url(hero-image.jpg);
  background-position: center;
}

.hero-image {
  width:  100%;

}


