// Specific CSS for your home-page

.hero-banner {
  position: relative;
  height: 350px;
  text-align: center;
  background-image: url(hero-image.jpg);
  background-position: center;
}

// <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
//   <div class="container">
//     <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
//     <p>Change your life and learn to code at one of our campuses around the world.</p>
//     <a class="btn btn-flat" href="#">Apply now</a>
//   </div>
// </div>


.hero-image {
  width:  100%;

}


.footer {
  background: $red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
