<div class="banner">
</div>
<div class="bottom d flex justify-content-center">
  <div>
    <h3 class="text-center">Jets Catalog</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @jets.each do |jet| %>
    <div class="col-xs-12 col-sm-8 col-md-4">
     <div class="card text m-4" style="width: 18rem;">
      <img src="https://aviationvoice.com/wp-content/uploads/2020/02/8-Reasons-to-Charter-a-Private-Jet-on-Your-Next-Trip-1200x900.jpg" class="card-img-top" alt="jet">
      <div class="card-body">
        <h5 class="card-title" ><%= jet.model %></h5>
      <div>
        <%= link_to "More", jet_path(jet), class: "btn btn-primary more" %>
      </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</div>
