<div class="container">
  <div class="row"></div>
	<h1><%= @jet.name %></h1>
      <p>
        <strong>Model: </strong>
          <em> model name </em>
      </p>
      <p>
      	<strong>Max speed: </strong>
      	  <em> km/h</em>
      </p>
      <p>
      	<strong>Max range: </strong>
      	  <em> km</em>
      </p>
      <p>
      	<strong>Price hourly: </strong>
      	  <em> $$$ </em>
      </p>
      
	
 </div>
</div>
