<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>hello</h1>
      <div class="formulaire">
        <%= simple_form_for [@jet, @booking] do |f| %>
          <%= f.input :start_date, label: "Dates" %>
          <%= f.input :end_date, label: '&nbsp;'.html_safe, placeholder: "To" %>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


