<footer>
  <div class="container-fluid padding">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-sm-12 col-md-8 d-flex align-items-baseline justify-content-around">
        <img class="footer-icon" src="https://www.huntandpalmer.com/wp-content/uploads/2014/08/ebaa_wht_new2-108x39.png" alt="">
        <img class="footer-icon" src="https://assets.privatefly.com/images/general/bbc.png">
        <img class="footer-icon" src="https://s3-eu-west-1.amazonaws.com/assets.privatefly.com/images/icons/Virtuoso_Preferred_120.png">
        <img class="footer-icon" src="https://assets.privatefly.com/images/general/bbusiness.png">
        <img class="footer-icon" src="https://s3-eu-west-1.amazonaws.com/assets.privatefly.com/images/icons/Air-Charter-Association-logo_120px.png">


      </div>
      <div class="col-12">
        <hr class="light">
        <p class="footer-small-text"><span>&copy; JET NOW 2005-2020</span> | ABOUT | <span>CONTACT US</span> | PRIVACY | SITEMAP  |  <span>CORP. RESPONSIBILITY</span></P>
      </div>
    </div>
  </div>
</footer>
