<div class="container-fluid p-0 hero-banner">
  <%= image_tag("hero-image.jpg", class: "hero-image")%> 
</div>

<div class="container py-5">
  <div class="text-center">
      <h3>Private Jet Rental Services Worldwide</h3>
      <p>Choose your aircraft you’d like to book and complete the reservation online, simple as that!</p>
      <%= link_to 'Search Jets', jets_path, class: 'btn btn-primary' %>
    </div>

<div class="container mt-5">
 <div class="row justify-content-between">
      <div class="col-xs-12 col-sm-6 col-lg-3 mb-4  text-center">
        <div class="cards" style="width: 18rem; height: 19rem;">
          <i class="fas fa-plane-departure"></i>
          <div class="card-b">
          	<h1 class="cards-title">Services</h1>
          </div>
          <div class="card-description">
        		<p>Online booking 24/7, no minimum notice, free cancellations.</p>
        </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3 mb-4">
        <div class="cards" style="width: 18rem; height: 19rem;">
        	<i class="fas fa-award"></i>
        	<div class="card-b">
          <h1 class="cards-title">Flexibility</h1>
        </div>
        <div class="card-description">
        	<p>Choose business, leisure or cargo charters</p>
        </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3 mb-4">
        <div class="cards" style="width: 18rem; height: 19rem;">
        	 <i class="fas fa-handshake"></i>
        	  <div class="card-b">
          		<h1 class="cards-title">Connect</h1>
        		 </div>
        		<div class="card-description">
        			<p>We are connecting people.Benefit from the market neutrality.</p>
        </div>
			</div>
		</div>
	</div>
</div>
</div>
