
<div class="container-fluid p-0 hero-banner">
<!--   <%= image_tag("hero-image.jpg", class: "hero-image")  %> -->
</div>










<div class="container border ">
  <div class="row">
    <div class="col-12 border text-center py-3">
      <h3>Service by distinction</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-4 border">
      <div class="card border">
        <h4>Available within 12 hours</h4>
      </div>
    </div>
        <div class="col-4 border">
      <div class="card border">
        <h2>Instant booking</h2>
      </div>
    </div>
        <div class="col-4 border">
      <div class="card border">
        <h4>Flexible Cancellation</h4>
      </div>
    </div>
  </div>
</div>
