
<div class="container-fluid p-0 hero-banner">
<!--   <%= image_tag("hero-image.jpg", class: "hero-image")  %> -->
</div>


<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center ">
      <h3 style="color: #45354D">Private Jet Rental Services Worldwide</h3>
      <p style="color: #45354D">Choose your aircraft you’d like to book and complete the reservation online, simple as that!</p>
      <%= link_to 'Search Jets', jets_path, class: 'btn btn-primary' %>
    </div>

  
  </div>
</div>
