.banner {
  height: 40vh;
  background: url("https://aircharterservice-globalcontent-live.cphostaccess.com/images/carousel-images/air-charter-service-private-charter_tcm61-37104_tcm36-37104.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}
.bottom {
  height: 20vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.light {
  border-right: 1px solid white;
}
.header-line {
  display: inline-block;
  height: 1px;
  background: #fff;
  vertical-align: middle;
  border-right: 1px solid white;
}
