.card-img {
  height: 100%;
  background-size: cover;
  margin-bottom: 0;
}
.card {
  width: 500px;
  position: relative;
  color: #45354D;
  overflow: hidden;
}
.card:hover {
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
  color: #45354D;
  background-color: white;
  .card-img-top {
    opacity: .8;
  }
}
li {
  color: #45354D;
}
.more {
position: absolute;
  top:50%;
  right: 1px;
  background-color: #45354D;
}
.card.text {
color: #EFEFEF;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: gray;
}
