.cards {
  text-align: center;
  height: 250px;
  background-size: cover;
  color: white;
}

.fas  {
  font-size: 110px;
  padding: 10px 80px;
  color: #45354D;
}

.card-b h1 {
  color:#45354D;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
}

.card-description {
  color: #45354D;
  bottom: 10px;
  left: 10px;
  text-align: center;
}